*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

/* header */
header{
  width: auto;
  height: 500px;
}

/* navbar */
.navbar{
  height: 75px;
  background-color: black;
}

.navbar img{
  padding-left: 25%;
  padding-top: 5%;
}

.navbar   ul{
  list-style-type: none;
}

.navbar li{
  display: inline-block;
  font-size: 10px;
  color: white;
  padding: 8px;
  padding-top: 7%;
}
/* sreen */
.screen{
  height: 425px;
  background-image: url("../img/helbiz1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.screen h1{
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 12.5%;
}

.screen p{
  font-size: 20px;
  color: white;
  text-align: center;
}

.screen img{
  max-width: 100%;
  height: auto;
}

#apple{
  float: right;
  margin-right: 5px;
}

#google{
  float: left;
  margin-left: 5px;
}
/* header end */

/* main */
main{
  width: auto;
  height: 2200px;
}

/* section1 */
.section1{
  height: 600px;
  background-color: red;
}

/* section2 */
.section2{
  height: 600px;
  background-color: green;
}

/* section3 */
.section3{
  height: 1000px;
  background-color: yellow;
}

/* footer */
footer{
  width: auto;
  height: 1000px;
}

/* social */
.social{
  height: 400px;
  background-color: grey;
}

/* contact */
.contact{
  height: 600px;
  border-color: brown;
  border: 2px solid black;
}
