*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

/* header */
header{
  width: auto;
  height: 500px;
}

.navbar{
  height: 75px;
  background-color: black;
}

.screen{
  height: 425px;
  background-color: orange;
}
/* header end */

/* main */
main{
  width: auto;
  height: 2200px;
}

/* section1 */
.section1{
  height: 600px;
  background-color: red;
}

/* section2 */
.section2{
  height: 600px;
  background-color: green;
}

/* section3 */
.section3{
  height: 1000px;
  background-color: yellow;
}

/* footer */
footer{
  width: auto;
  height: 1000px;
}

/* social */
.social{
  height: 400px;
  background-color: grey;
}

/* contact */
.contact{
  height: 600px;
  border-color: brown;
  border: 2px solid black;
}
