*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: 0 auto;;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

/* header */
header{
  width: auto;
  height: 500px;
}

.navbar{
  height: 75px;
  background-color: black;
}

.screen{
  height: auto;
}
/* header end */

/* main */
main{
  width: auto;
  height: 2200px;
}

/* section1 */
.section1{
  height: 600px;
  background-color: red;
}
